.top-nav a {
  text-decoration: none;
  color: var(--primary-color, #fd5901);
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 1000;
  line-height: 33px; /* 110% */
}
.links{
  text-decoration: none;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.search-btn,
.ham-btn {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  cursor: pointer;
}
.ham-btn {
  background-color: var(--secondary-color);
  margin-left: 10px;
}

.outer-bottom-nav {
  display: flex;
  justify-content: center;
}
.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background: var(--primary-color, #fd5901);
}
.divider {
  width: 2px;
  height: 40px;
  background: #005f60;
}
.sort,
.search,
.pathfinding {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sort p,
.search p,
.pathfinding p {
  color: #fff;
}
