.container{
    height: 100vh;
}
.container-navigation{
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container-content{
    height: 90%;
    display: grid;
    place-items: center;
}
.a-box{
    width: 40px;
    height: 40px;
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    color: white;
    font-weight: 800;
    display: inline-block;
    text-align: center;
    line-height: 40px;
   
}







.pointer-container{
    position: relative;
}

.a-pointer{
    display: none;
    position:absolute;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    transition: transform 0.3s;

}
.pointer-left{
    background-color: blueviolet;
    /* transform: translateX(-50%); */
}
.pointer-right{
    background-color: rgb(41, 37, 120);
    
}

.standout {
    position: relative;
    animation: standout 0.3s forwards ease-in;
}
.a-swap-animation {
    animation: swapanimation 1000ms forwards ease-in;
}


@keyframes standout {
    from{
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(0px , -70px);
    }
}

@keyframes traverse {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(40px);
    }
}

